/*- General ------------------------------------------------------------------------------------------*/
* { margin: 0px; padding: 0px; }
hr { display: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
section, header, nav, footer { display: block; }
li { list-style: none inside;}
fieldset, img { border: none; }

body
{
	background: #353535;
	color: #f1f1f1;
	font-family: helvetica, arial sans-serif;
	font-size: 12px;
}